{% extends 'portfolio/base.html' %}

{% block title %}Curriculum Vitae{% endblock %}

{% block content %}
  <h1>Mon CV</h1>
  <p>Nom complet : Dhia Fennira</p>
  <p>Spécialisation : Devloppeur</p>
  <p>Expérience :Radio Nationale Tunisiene, Stagiaire

    •Gestion et coordination de projets
    multimédias, en veillant au respect des délais
    et au maintien de la qualité des contenus.

    •Formation à l’utilisation de logiciels audio et
    vidéo et à la gestion des ressources
    multimédias.

   •Création d’effets spéciaux audio adaptés aux
    besoins des productions multimédias.

    •Encadrement d’une équipe dédiée aux projets
    multimédias (vidéo, podcast, webinaire)</p>
  <p>Formation :  Formation Degital Marketing</p>
  <p>Compétences :  Référencement web
                    Réseaux sociaux
                    Outils d’analyse de données</p>
{% endblock %}

