{% extends 'portfolio/base.html' %}

{% block title %}Stages{% endblock %}

{% block content %}
  <h1>Stages</h1>
  <p>Voici les stages que j'ai réalisés pendant mes études en Tunisie :</p>
  <ul>
    <li>Stage 1 :  Radio Nationale Tunisiene, Stagiaire
        •Gestion et coordination de projets
        multimédias, en veillant au respect des délais
        et au maintien de la qualité des contenus.
        •Formation à l’utilisation de logiciels audio et
        vidéo et à la gestion des ressources
        multimédias. 
       •Création d’effets spéciaux audio adaptés aux
        besoins des productions multimédias.
        •Encadrement d’une équipe dédiée aux projets
        multimédias (vidéo, podcast, webinaire)</li>
    <li>Stage 2 : Societe Wodo 
        •Formation à l’utilisation de logiciels de programmation en paython
         et à la gestion des ressources
        multimédias.  </li>
  </ul>
{% endblock %}
