{% extends 'portfolio/base.html' %}

{% block title %}Travaux réalisés{% endblock %}

{% block content %}
  <h1>Travaux réalisés</h1>
  <ul>
    <li>Projet 1 : Projet CMS (Système de Gestion de Contenu) avec Django
        Description : Créez un système de gestion de contenu (CMS) où les utilisateurs peuvent ajouter, éditer et supprimer des articles et des images.
        Technologies : Django, Python, HTML, CSS, JavaScript, SQLite ou PostgreSQL.
        Fonctionnalités :
        Gestion des articles.
        Système de connexion pour les utilisateurs.
        Interface utilisateur flexible et facile à utiliser.
        Défis : Création de l'interface d'administration, gestion des permissions utilisateurs, utilisation d'AJAX pour améliorer l'expérience utilisateur.</li>
    <li>Projet 2 : Projet E-Commerce avec Django
        Description : Créez une plateforme de commerce électronique permettant aux utilisateurs de parcourir des produits, d'ajouter des articles au panier et de finaliser leurs achats.
        Technologies : Django, Python, HTML, CSS, JavaScript, Stripe ou PayPal pour les paiements.
        Fonctionnalités :
        Interface de boutique pour afficher les produits.
        Panier d'achat et processus de paiement.
        Gestion des produits pour l'administrateur.
        Défis : Gestion des paiements en ligne, amélioration de l'expérience utilisateur, sécurisation des données.</li>
    <li>Projet 3 : Application Météo avec Django et API
        Description : Développez une application qui affiche les informations météorologiques actuelles et les prévisions à venir en utilisant une API comme OpenWeatherMap.
        Technologies : Django, Python, JavaScript, API (OpenWeatherMap ou similaire).
        Fonctionnalités :
        Affichage de la météo actuelle (température, humidité, conditions climatiques).
        Affichage des prévisions météo des jours à venir.
        Défis : Interagir avec une API, traiter les données externes, afficher les informations de manière attrayante.</li>
  </ul>
{% endblock %}
